<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710974528033-be9d10t8nm7fdk59v8st54ei0jfsgvt1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710974528033-be9d10t8nm7fdk59v8st54ei0jfsgvt1</string>
	<key>API_KEY</key>
	<string>AIzaSyAlsb8Yp4si8u0o4T4QlIK1xiFu0F_vWws</string>
	<key>GCM_SENDER_ID</key>
	<string>710974528033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.yonatangm.test-app</string>
	<key>PROJECT_ID</key>
	<string>testapp-79467</string>
	<key>STORAGE_BUCKET</key>
	<string>testapp-79467.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710974528033:ios:c9794f92460b29f8aa6160</string>
</dict>
</plist>